{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/admin-dashboard-cards.css' %}"
    />
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Hasthi</title>
    <style>
      body {
        height: 110%;
        padding-bottom: 50px;
      }
      .add_container{
        padding-top: 1px;
        padding-bottom: 20px;
        margin-top: 40px;
        margin-left: 350px;
        margin-right: 380px;
        border-radius: 10px;
        box-shadow: 2px 2px 8px 2px black;
        transition: all .5s;
        display: none;
      }
      .close{
        font-size: 35px;
        color: rgba(191, 4, 4, 0.732);
        cursor: pointer;
        float: right;
        margin-right: 10px;
      }
      .delete{
        color: red;
        cursor: pointer;
      }
      @media screen and (max-width:900px) {
        .add_container{
          padding-left: 10px;
          padding-right: 10px;
          margin-left: 20px;
          margin-right: 50px;
        }
      }
    </style>
  </head>
  <body>
    {% include 'admin_fullnav.html' %}
    <div class="container">
      <form action="" method="post">
        {% csrf_token %}
        <div class="row justify-content-center mt-5">
          <div class="col-lg-4">
            <div class="form-check form-check-inline">
              {% if not Place_Type or Place_Type == "College" %}
              <input
                class="form-check-input"
                type="radio"
                name="Place_Type"
                id="colleges"
                checked
                value="College"
              />
              {% else %}
              <input
                class="form-check-input"
                type="radio"
                name="Place_Type"
                id="colleges"
                value="College"
              />
              {% endif%}
              <label class="form-check-label" for="colleges">Colleges</label>
            </div>
            <div class="form-check form-check-inline">
              {% if Place_Type == "City" %}
              <input
                class="form-check-input"
                type="radio"
                name="Place_Type"
                id="cities"
                checked
                value="City"
              />
              {% else %}
              <input
                class="form-check-input"
                type="radio"
                name="Place_Type"
                id="cities"
                value="City"
              />
              {% endif %}
              <label class="form-check-label" for="cities">Cities</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-lg-5">
            <button class="btn btn-primary" id="add_btn">
              Add New Place
            </button>
            <button class="btn btn-primary" type="submit" name="View" value=" ">
              View
            </button>
            <button class="btn btn-success" type="submit" onclick="return false;">
              Print
            </button>
            <button class="btn btn-warning" type="reset" onclick="$('.table-container tbody').hide()">
              Clear
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="add_container">
      <form action="" method="post">
        {% csrf_token %}
        <div class="row justify-content-end">
          <div class="col-lg-2">
            <i class="fa fa-window-close close" onclick="$('.add_container').css('display','none')"></i>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="Places"
                id="college"
                checked
                value="College"
              />
              <label class="form-check-label" for="college">College</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="Places"
                id="city"
                value="City"
              />
              <label class="form-check-label" for="city">City</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-lg-2">
            <label for="">Place Name: </label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Enter Place Name" name="Place" id="place" required>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-lg-4">
            <button type="submit" class="btn btn-primary" name="Add">Add New Place</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
          <h3>Places List</h3>
        </div>
      </div>
    </div>
    <div class="container table-container">
      <table class="table table-striped table-hover">
        <thead>
          <th>S No.</th>
          <th>Place Name</th>
          <th>Action</th>
        </thead>
        <tbody>
          {% if Places %}
          {% for place in Places %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ place.Name }}</td>
            <td><i class="fas fa-trash delete"></i></td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

    <!-- Scripts -->

    <!-- Show Add New Container -->
    <script type="text/javascript">
      $('#add_btn').on('click',()=>{
        $('.add_container').css('display','block');
        return false;
      });
    </script>
  </body>
</html>
